{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  <h1 class="h1 mb-0 text-gray-800" style="margin-left: 10px">Sessions</h1>
{% endblock %}

{% block content %}

{% endblock %}

<!-- Bootstrap core JavaScript-->
<!--<script src ="{% static "js/jquery/dist/jquery.min.js" %}"></script>-->
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<!-- Core plugin JavaScript-->


<!-- Custom scripts for all pages-->
<script src="{% static "js/sb-admin-2.min.js" %}"></script>
