{% load staticfiles %}



<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary">Tag Overview</h4>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <br>
      <div class="row">
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Times Logged</div>
                  <div id="loggings" class="h4 mb-0 font-weight-bold text-gray-800">---</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-s font-weight-bold text-info text-uppercase mb-1"># of active tags</div>
                  <div id="numoftags" class="h4 mb-0 font-weight-bold text-gray-800">---</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-tags fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-s font-weight-bold text-warning text-uppercase mb-1">Time Connected</div>
                  <div id="sessiontime" class="h4 mb-0 font-weight-bold text-gray-800">---</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clock fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display: block; margin-left: auto; margin-right: auto;">
    <button class="btn btn-primary" id="retrieve_btn" type="button">
      Retrieve Tags
    </button>
  </div>
  <div class="container-fluid">
    <br>
    <div class="card-body">
      <div class="table-responsive">
          <div id="live_tags_data">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            </table>
          </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src ="{% static "js/jquery.min.js" %}"></script>

<script type="text/javascript">
  $('#retrieve_btn').on('click', function() {
    $.ajax({
      type:'POST',
      url:'collect_tags',
      data:{
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      },
      success:function(data) {
        if (data.status) {
          // Push tags through the div, the connection is established
          // $("#own_you_both" ).load(" #make_conn_div");
          var event_data = '';
          event_data += "<thead><tr>" +
            "<th>TagID</th>" +
            "<th>Location</th>" +
            "</tr></thead>"
          $.each(data.tags, function(index, value) {
            // console.log(value)
            event_data += '<tr>';
            event_data += '<td>' + value[0] + '</td>'
            event_data += '<td>' + value[2] + '</td>'
            event_data += '</tr>';
          });
          $("#dataTable").html(event_data);
          if (data.tags){
            numoftags = data.tags.length
            sessiontime = Math.round(data.tags[0][1])
            loggings = data.logcount
            $("#sessiontime").replaceWith(sessiontime)
            $("#loggings").html(loggings)
            $("#numoftags").html(numoftags)
          }
        } else {
          // No connection, notify user
          alert("Connect to server before retrieving tags")
        }
      }
    })
  })
</script>
